a
  cursor pointer

.pure-menu-list
  float right

table
  width 100%

tbody tr
  cursor pointer

tbody tr:hover td
  background #defdef

tbody tr.marked td
  background #edbedb

.trello-label
  display block
  padding 5px
  color white
  float left
  margin 2px 3px 0 0
  min-width 20px
  min-height 18px

thead td > a,
td > label
  display block
  width 100%
  height 100%
  text-align center

form.action
  width 80%
  margin 10px auto
  text-align center

.green 
  background-color #61BD4F

.red 
  background-color #EB5A46

.yellow 
  background-color #F2D600

.blue 
  background-color #0079BF

.black 
  background-color #4D4D4D

.purple 
  background-color #C377E0

.sky 
  background-color #00C2E0

.orange 
  background-color #FFAB4A

.lime 
  background-color #51E898

.pink 
  background-color #FF80CE

